<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48257324824-fd4svnof1t5g6ih39r6dcktn7d6ftu04.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48257324824-fd4svnof1t5g6ih39r6dcktn7d6ftu04</string>
	<key>API_KEY</key>
	<string>AIzaSyCedDrl1odH3MhVjdBY1l6MKH9dNY0GpyE</string>
	<key>GCM_SENDER_ID</key>
	<string>48257324824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamahBamumin.Profile</string>
	<key>PROJECT_ID</key>
	<string>samahbamumin-23258</string>
	<key>STORAGE_BUCKET</key>
	<string>samahbamumin-23258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48257324824:ios:6ea4ab9636996939d1306d</string>
</dict>
</plist>